@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
    margin: 0;
    min-height: 100%;
    font-family: "Quicksand"
}

p, h1, h6, li, a, label {
   color: rgb(177, 193, 245);
}

p {
    font-size: medium;
}

div {
    padding: 2%;
}

img {
    border-radius: 5%;
}

ul {
    list-style-type: none;
}

li {
    margin: 2%;
}

a {
    text-decoration: underline;
}

.menu-text-btn {
    cursor: pointer;
    color: #0e0371;
    text-decoration: none;
    font-weight: bold;

    padding: 5%;
}

#menuBar {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    margin-bottom: 2%;

    background-color: rgba(128, 128, 128, 0.77);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#centerBlock {
    border-style: solid;
    border-color: #0e0371c3;
    border-radius: 5%;
    background-color: rgba(13, 1, 66, 0.708);
    width: 75%;
    min-height: 80svh;

    margin-left: 13%;

    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start; 
}

#gradient {
    background-size: cover;
    background-image: url(./images/site-background-v1.png);
}

.titleBlock {
    font-size: larger;
    text-align: center;
    border-style: solid;
    border-radius: 7%;
    border-color:  rgb(177, 193, 245);
    border-width: thin;
    margin: 10px;
}

#mainText {
    font-size: medium;
}

#profile-header {
    display: flex;
    flex-direction: row;

}

#avatar {
    max-height: 50;
    border-radius: 15%;
    margin-top: 5%
}

#message-submit {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    gap: 10px;
}